### Assignment 4 ###

In [1]:
# Import required libraries 
import numpy as np
import pandas as pd

import math
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
# Q5_ read the beer file 
beerrating_sample_df=pd.read_excel('Q5_Beer_Taste.xlsx')

beerrating_sample_df.sample(10)

    Person  Rating
12      13      74
16      17     100
10      11      67
1        2      57
24      25      72
37      38      49
49      50      73
32      33      48
46      47      72
28      29      76

In [33]:
#Q5 Check Data Quality
beerrating_sample_df.set_index('Person', inplace=True )
beerrating_sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 1 to 60
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rating  60 non-null     int64
dtypes: int64(1)
memory usage: 960.0 bytes

In [34]:
beerrating_sample_df.sample(5)

        Rating
Person
54         100
47          72
7           81
5           94
45          90

In [36]:
beerrating_sample_mean=beerrating_df['Rating'].mean()
beerrating_sample_sd=beerrating_df['Rating'].std()
print('The beerrating sample mean is %2f and the beerrating sample std deviation is %2f ' %(beerrating_mean,beerrating_sd) )

The beerrating sample mean is 79.750000 and the beerrating sample std deviation is 14.502630

In [ ]:
# for population 

# H0: pop_mu <=76
# Ha: ppo_mu > 76

# the sample poulation is 60 (>30) and 'sd' as well as 'mu'
# we can test 'z' to find hypothesized  pop mu

# for 5% significance level the z score should be -1.96 to 1.96

$$ Null Hypothesis: \mu_{pop} \le 76$$
$$ Alternate Hypotesis: \mu_{pop} > 76$$

$$P(Sample Mean > 76 \mid mean \le 76)$$

In [38]:
z=1.96
beerrating_sample=60

mu_pop=(beerrating_sample_mean + (z*(beerrating_sample_sd/math.sqrt(beerrating_sample))),beerrating_sample_mean + (z*(beerrating_sample_sd/math.sqrt(beerrating_sample))))

In [39]:
mu_pop

(83.41967165513445, 83.41967165513445)

In [ ]:
# we can see the Poulation Mean is expected to be higher than 76 for 5% significance level. hence reject the null hypothesis.

$$ Null Hypothesis: \mu \le 76$$
$$ Alternate Hypotesis: \mu > 76$$

$$P(Sample Mean > 76 \mid mean \le 76)$$

In [51]:
# alternatively we can do 't test' ,as we do not know the poulation mean 

t_critical=st.t.ppf(q=1-0.05,df=60-1)
s=t_critical*((beerrating_sample_sd/math.sqrt(beerrating_sample)))

In [53]:
mu_pop_t=(beerrating_sample_mean+s,beerrating_sample_mean-s)
print(mu_pop_t)

(82.87875649591327, 76.62124350408673)

In [54]:
# We can see the computed mu_pop is higher than the Null hypothiss - which can be rejected

In [9]:
# Q5 Since the the p value is very low , we may reject the "Null Hypothesis"
# The 2 0 smaple  beer rating will have a scaore of higher than 76

In [57]:
1-st.t.cdf(x=76,df=60-1)

0.0

 ## Q6 {Low calorie Drink Priference} ##

In [10]:
drink_pref_df=pd.read_excel('Q6_LowcalorieDrink.xlsx')
drink_pref_df.sample(10)

     Consumer Gender                Age       Preference
76         77      F  Between 40 and 60        Our brand
105       106      F  Between 20 and 40        Our brand
0           1      F            Over 60        Our brand
86         87      M  Between 40 and 60        Our brand
244       245      F  Between 40 and 60  Competing brand
98         99      F  Between 20 and 40  Competing brand
7           8      F  Between 40 and 60  Competing brand
65         66      F  Between 20 and 40  Competing brand
19         20      F  Between 20 and 40        Our brand
150       151      F  Between 20 and 40  Competing brand

In [11]:
drink_pref_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Consumer    250 non-null    int64
 1   Gender      250 non-null    object
 2   Age         250 non-null    object
 3   Preference  250 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.9+ KB

In [12]:
drink_pref_df.set_index('Consumer',inplace=True)

In [13]:
drink_pref_df.head()

         Gender                Age       Preference
Consumer
1             F            Over 60        Our brand
2             F  Between 40 and 60        Our brand
3             M  Between 40 and 60        Our brand
4             F            Over 60  Competing brand
5             M  Between 20 and 40        Our brand

In [14]:
drink_pref_df.groupby('Preference').agg(["count"])

                Gender   Age
                 count count
Preference
Competing brand    116   116
Our brand          134   134

In [15]:
per_ourbrand =116/250
per_compbrand=134/250

#assume poulation s choice for our brand will be normally distributed
#P-hat +/- z_a/2*sqrt((p-hat*q-hat)/n)

print('our brand preference in the sample is  %2f percent'%round(per_ourbrand*100))

our brand preference in the sample is  46.000000 percent

In [16]:
(0.46+(1.96*math.sqrt(.46*.54/250)),0.46-(1.96*math.sqrt(.46*.54/250)))

(0.5217819857239956, 0.3982180142760044)

In [17]:
# In the poulation the choice for our brand will be between 52% to 40% given 95 percent confidence level 

#b) The sample data does not provide information on geographies (urban / rural )- so asserattion is false.

#C) sample is unnecessary large to judge brand preference

## Questtion 7 ##

In [60]:
brand1_sample_df=pd.read_excel('Q7_Battery_life.xlsx',sheet_name='Brand1',index_col='Battery')
brand2_sample_df=pd.read_excel('Q7_Battery_life.xlsx',sheet_name='Brand2',index_col='Battery')
brand1_sample_df.sample(10)

         Lifetime
Battery
82         103.88
38          92.23
20         102.58
99         102.74
69          98.75
54         101.69
50          95.22
91          96.65
92         100.27
100         98.78

In [61]:
brand2_sample_df.sample(10)

         Lifetime
Battery
23          98.67
61          98.81
43          96.43
30         112.25
36         109.34
7           96.53
40          92.84
45          97.44
74          95.82
100         96.70

In [62]:
brand1_sample_mean=brand1_sample_df['Lifetime'].mean()
brand1_sample_sd=brand1_sample_df['Lifetime'].std()
brand2_sample_mean=brand2_sample_df['Lifetime'].mean()
brand2_sample_sd=brand2_sample_df['Lifetime'].std()

In [73]:
print('The brand1_battery  sample mean is %2f and the sample std deviation is %2f ' %(brand1_sample_mean,brand1_sample_sd) )
print('The brand2_battery sample mean is %2f and the sample std deviation is %2f ' %(brand2_sample_mean,brand2_sample_sd) )

The brand1_battery  sample mean is 100.089800 and the sample std deviation is 2.821051
The brand2_battery sample mean is 99.559400 and the sample std deviation is 6.306306

$$ Statistic    Chi^2 $$
$$ X^2 =\frac{(n-1)s^2}{\sigma_0^2} $$

In [86]:
x_critical=st.chi2.ppf(q=0.05/2,df=100-1)
brand1_pop_variance=((100-1)*brand1_sample_sd**4)/x_critical
print(brand1_pop_variance)

brand2_pop_variance=((100-1)*brand2_sample_sd**4)/x_critical
print(brand2_pop_variance)

# the underlying population variances for Brand #1 and Brand #2  - greatly differ

85.46991713207193
2134.369787922655

## Brand 1 and Brand 2 are different ##
### We can do T statistic to find mean for respective population mean  and compare ### 

$$ t =\frac{(\bar{x}-\mu)} {\frac{s}{\sqrt{n}}}, df =n-1, \mu = population\space hypothesized\space mean $$

In [88]:
# let us assume both the brand population are normally distributed and significance level 5% (two tailed )
brand1_sample_no=brand2_sample_no=100
t_critical_brands=st.t.ppf(q=1-0.5/2,df=100-1)

s_br1=t_critical_brands*((brand1_sample_sd/math.sqrt(brand1_sample_no)))
brand1_mean_pop=(brand1_sample_mean-s_br1,brand1_sample_mean +s_br1)

s_br2=t_critical_brands*((brand2_sample_sd/math.sqrt(brand2_sample_no)))
brand2_mean_pop=(brand2_sample_mean-s_br2,brand2_sample_mean +s_br2)

print(brand1_mean_pop, brand2_mean_pop)

(99.89882161580643, 100.28077838419354) (99.1324782213936, 99.98632177860634)

In [89]:
# let us condider 
# Ha: mean brand1 > mean brand2

#H0:  mean brand1 <=  mean brand2 

#let us do a T test onboth distribution  and man whitney test

In [91]:
stat, p_value = st.ttest_ind(brand1_sample_df.Lifetime, brand2_sample_df.Lifetime)
print(f"t-test: statistic={stat:.4f}, p-value={p_value:.4f}")

t-test: statistic=0.7677, p-value=0.4436

In [92]:
stat, p_value = st.mannwhitneyu(brand1_sample_df.Lifetime, brand2_sample_df.Lifetime)
print(f" Mann–Whitney U Test: statistic={stat:.4f}, p-value={p_value:.4f}")

 Mann–Whitney U Test: statistic=5244.0000, p-value=0.5519

In [29]:
# We found out both cases the p value is higher than 0.05 ; so we can not reject the NULL Hypthesis